@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* header */
.navItemsP{
    margin-right: 70px;
}

.button{
    background-color: #ea5d3f;
    color: #ffffff;
    padding: 10px;
    margin-top: -10px;
    
}


/* section One*/
.small-text{
    font-size: .8rem;
}

.small-box{
    max-width: 250px;
    margin-top: 30px;
}

.medium-box{
    max-width: 520px;
}

section, .one{
    margin-top: 50px;
    margin-left: 60px;
}

/* section Two */
.card{
    max-width: 70%;
    min-width: 70%;
    background-color: #272c40;
    border-radius: 0px;
    border: 0;
    max-height: 500px;
    min-height: 500px;
}

.edificio{
    object-fit:cover;
    object-position: 50% 60%;
    max-height: 500px;
    min-height: 500px;
    width: 100%;
}

.white-text{
    color: white;
}

.text-card{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.white{
    color:white;
}
.subtitle{
    font-size: .7rem;
}

.seemore{
    color: white;
    margin-right: 10px;
}
.buttonIcon{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 30px;
}


.main{
    background-color: #ffffff;
}

.bold{
    font-weight: bold;
}


