@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

.main{
    background-color: #ffffff;
}

.bold{
    font-weight: bold;
}

.first-part{
    margin-top: 70px;
    margin-left: 90px;
}

.navItemsP{
    margin-right: 70px;
}

.button{
    background-color: #ea5d3f;
    color: #ffffff;
    padding: 10px;
    margin-top: -10px;
    
}

.firstTittle{
    max-width: 90%;
}

.imgLine{
    margin-top: 20px;
    margin-left: -50px;
}

.secondTittle{
    max-width: 100%;
    padding-left: 90px;
    margin-top: 35px;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    font-weight: 100;
    color:#252b3b;
}

span{
    font-family: 'Roboto Condensed', sans-serif;
    color:#252b3b;
    font-weight: 200;
    font-size: 1.5rem;
}

.logo{
    max-width: 100px;
}